<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee_data</title>
    <style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h1 align="center", style="color:Blue">Data has been fetched from the Employee table from HRConnect database as per the request.</h1>
<table align="center" style="width:60%">
  <tr>
    <th>Hire_Date</th>
    <th>Employees_Names</th>

  </tr>
{% for keys,values in data.items() %}
    <tr>
    <td>{{ keys }}</td>
    <td>{{ ",".join(values) }}</td>

  </tr>

{% endfor %}
</table>
</body>
</html>